body{
    background: #949494;
    font-family: 'Spectral SC', serif;
    font-size: 1.2em;
  }
  
  p {
      font-family: 'PT Sans', sans-serif;
      text-align: center;
  }
  
  obavestenje-sazdrzaj{
    display: flex;
    justify-content: center;
  }
  
  #glavna-tabla{
    min-height: 500px;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
    background-repeat: no-repeat;
  }
  
  #li{
    list-style-type: none;
  }
  
  #uputstvoLink{
    display: flex;
    justify-content: center;
    font-family: 'Spectral SC', serif;
    padding-top: 10px;
   
  }
  
  #uputstvoLink:hover {
    text-decoration: underline;
  }
  
  #igra-kutija{
    border:2px solid black;
    
    width: 347px;
 
    background-position: 500px 170px;
    border-radius: 25px;
    margin: 20px;
    padding: 10px;
  }
  
  #uputstvo{
    cursor: default;
    text-align: center;
    font-size: 20px;
  }
  
  ul{
    list-style-type: none;
    padding: 0;
  }
  
  canvas{
    float: left;
    margin: 10px;
  
  }
  
  canvas:hover{
    filter: brightness(65%);
  }
  
  .boja{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    margin: 15px 15px 15px 15px;
    border: 3px;
  }
  
  .prazno{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin: 15px 15px 15px 15px;
    box-shadow: inset 15px 15px 30px rgba(0,0,0,.1);
    
  }
  
  .deo_lista{
    border-radius: 5px;
    border: solid black 1px;
    width: 33px;
    height: 33px;
    float: left;
    margin: 16px;
    margin-top: 19px;
  }
  
  .deo{
    border: solid black 1px;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    float: left;
    margin: 3.6px;
    
  }
  
  .nevidljiva_deo_lista{
    width: 30px;
    height: 30px;
    float: left;
    margin: 15px 15px 15px 15px;
  }
  
  .btn1{
    font-family: 'Spectral SC', serif;
    color: black;
    background-color:whit;
    border: black;
    font-size: inherit;
    width: 16%;
    height: 80%;
  }
  .btn2{
    font-family: 'Spectral SC', serif;
    color: black;
    background-color:whit;
    border: black;
    font-size: inherit;
    width: 16%;
    height: 80%;
    margin-top: 10%;
  }
  
  .lopticaB {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    float: left;
    margin: 15px 15px 15px 15px;
    box-shadow: inset -15px -15px 30px rgba(0,0,0,.1);
  }
  .obavestenje {
    display: none;
    position: fixed;
    text-align: center;
    border-radius: 25px;
    z-index: 1;
    padding: 30px;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: white;
    border:2px solid brown;
  }
  .obavestenje:hover{
    cursor: default;
  }
  .zatvori {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .oznacena_boja{
    outline:1.5px solid black;
  }
  /*
  @media (max-width: 500px) {
    .button {
      width: 50%;
      height: 50%;
    }
  }*/
  
